body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  height: 100vh;
}

/* Header stijlen */
header {
  background-image: url(images.jpg);
  background-size: 30%;
  background-position: center;
  padding: 80px;
}

/* Main stijlen */
main {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-template-columns: 1fr;
  height: 100vh;
  background-image: url(achterggrond\ main.jpg);
  background-size: 10%;
  background-position: center;
}

.eerste-rij {
  display: flex;
  justify-content: space-around;


}

.Gegevens {
  font-weight: 900;
  display: flex;
  justify-content: space-around;

}

.Betalen {
  display: flex;
  justify-content: flex-end;
}

.Afronden {
  font-weight: 700;
  font-size: large;
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}


footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}